<ion-header>
  <!-- <ion-toolbar color='darkblue'> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-icon slot="start" color="light" name="home"></ion-icon> -->
    <ion-title color='light'>
      About Us
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>

  
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="./assets/icon/star.png">
      </ion-avatar>
      <h2> BB Dashboard</h2>&nbsp;&nbsp;&nbsp;&nbsp;
      <p> March 15, 2020</p>
    </ion-item>

   

    <img src="./assets/images/logo01.png" />
    <ion-card-content>
      <ion-card-title>
        Job Overview
      </ion-card-title>
      <p>
        ทดสอบ DashBoard ของโครงข่าย Broadband
        มี Function ดังนี้ <br><br>
        1. Admin Dashboard <br>
        2. Sales Dashboard <br>
        3. Customer Dashboard <br>
        4. Security Dashboard <br>
        5. etc. Dashboard <br>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>Progarmmer</p>   
    <ion-card-content>
      <ion-card-title>
        ลักษณา สุทธิการ
      </ion-card-title>
      <p>
        Programmer of Broadband Dashboard
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>Graphics Developer</p>   
    <ion-card-content>
      <ion-card-title>
        เนตรนภา ทองขาว
      </ion-card-title>
      <p>
        Graphics Developer of Broadband Dashboard
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>System Administrator</p>   
    <ion-card-content>
      <ion-card-title>
        คมชัย ปวโรภาส
      </ion-card-title>
      <p>
        System Administrator of Broadband Dashboard
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>Network Security inspector </p>   
    <ion-card-content>
      <ion-card-title>
         เบญจวรรณ อาภัสรพรหม
      </ion-card-title>
      <p>
        Network Policy of Broadband Dashboard
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>Software Tester</p>   
    <ion-card-content>
      <ion-card-title>
        สันธยา เจริญสุข
      </ion-card-title>
      <p>
        Software Tester of Broadband Dashboard
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>Sysyem Co-operate </p>   
    <ion-card-content>
      <ion-card-title>
        สารัช จามจุรี
      </ion-card-title>
      <p>
        Sysyem Co-operate of Broadband Dashboard
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>System Inspirer<br>(อวยไส้แตก : รูปหล่อ มาดแมน แสนขยัน)</p>
    <img src="./assets/images/tong.png" padding />
    <ion-card-content>
      <ion-card-title>
        ยุทธพงศ์ คงอ่อน
      </ion-card-title>
      <p>
        The Inspiration System of Solar Breath . Contact : youtapong@hotmal.com

      </p>
    </ion-card-content>
  </ion-card>
  




  <ion-row>
    <ion-col width-50 style="text-align:center">

      <ion-button color="primary" small round large (click)="goToHome()">
        <ion-icon name="home"></ion-icon>&nbsp;Home
      </ion-button>
    </ion-col>

  </ion-row>



</ion-content>
