<ion-header>
  <ion-toolbar>
    <ion-title>ข้อมูลลูกค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Search service ID" [(ngModel)]="service_id" id="service_id"></ion-input>
          <ion-icon name="search-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-row>
          <ion-col width-50 style="text-align:center">
            <ion-button color="success" small round large (click)="getCust()">
              <ion-icon name="search"></ion-icon>&nbsp;Search
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-card>
          <ion-card-content>

            <ion-row>
              <ion-col>
                <ion-item>
                  <img slot="start" src="./assets/svg/folder-13.svg" style="width: 70px; height: 70px;">
                  <ion-col size="12">
                    <ion-label>
                      <p>{{ CustomerName }}</p>
                      หมายเลขวงจร :  {{cus_id}}
                    </ion-label>
                    ประเภทลูกค้า :  {{ typename }}
                  </ion-col>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label>
                  ที่อยู่ :  {{ CustomerAddress }}
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-label >
                  ประเภทบริการ : {{ ServiceTypeName }}
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  ความเร็ว:  {{ SpeedName }}
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-label >
                  บริการ :  
                  <ion-label *ngFor="let service of ncd_services | keyvalue">
                    {{service.value[1]}}
                  </ion-label>
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label *ngFor="let vrf of ncd_vrf | keyvalue">
                  VRF:  {{vrf.value[1]}}
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-label *ngFor="let ip of ncd_ip_wan | keyvalue">
                  IP WAN :  {{ip.value[1]}}
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  อุปกรณ์ :  
                  <ion-label *ngFor="let device of ncd_device | keyvalue">
                    {{device.value[1]}},
                  </ion-label>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label >
                  interface :  
                  <ion-label *ngFor="let interf of ncd_interface | keyvalue">
                    {{interf.value[1]}},
                  </ion-label>
                </ion-label>
              </ion-col>
            </ion-row>
          
          </ion-card-content>
        </ion-card>
        
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>