<ion-header>
  <ion-toolbar>
    <ion-title>customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides pager="true" [options]="{ effect: 'flip', autoplay: true}">
          <ion-slide>
            <ion-img src="https://picsum.photos/500/300?random"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img class="js-img" src="https://picsum.photos/500/301/?random"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img class="js-img" src="https://picsum.photos/500/302/?random"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>